<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>홍인표 PORTFOLIO</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">


    <!-- Font -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700%7CAllura" rel="stylesheet">

    <!-- Stylesheets -->

    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/ionicons.css" rel="stylesheet">

    <link href="css/fluidbox.min.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

    <link href="css/responsive.css" rel="stylesheet">
<style>
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    body{
    font-family: 'Jeju Gothic', sans-serif;
    }
    h2{
    font-family: 'Jeju Gothic', sans-serif;
    }
     h3{
    font-family: 'Jeju Gothic', sans-serif;
    }
</style>
</head>
<body>

<section class="intro-section">
    <div class="container">

        <div class="heading-wrapper">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-location-outline"></i>
                        <div class="right-area">
                            <h5>서울특별시 송파구</h5>
                            <h5>위례성대로 176</h5>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-telephone-outline"></i>
                        <div class="right-area">
                            <h5>전화 번호</h5>
                            <h6>010-3579-1430</h6>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->

                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="info">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <div class="right-area">
                            <h5>이메일</h5>
                            <h6>cjd0030@gmail.com</h6>
                        </div><!-- right-area -->
                    </div><!-- info -->
                </div><!-- col-sm-4 -->
            </div><!-- row -->
        </div><!-- heading-wrapper -->


        <div class="intro">
            <div class="row">

                <div class="col-sm-8 col-md-4 col-lg-3">
                    <div class="profile-img margin-b-30"><img src="images/iph.jpg" alt=""></div>
                </div><!-- col-sm-8 -->

                <div class="col-sm-10 col-md-5 col-lg-6">
                    <h2><b></br>홍 인 표</b></h2>
                    <h4 class="font-yellow">&nbsp;&nbsp;예비 개발자</h4>
                    <ul class="information margin-tb-30">
                        <li><b class="font-yellow">BORN</b> : January 04, 1993</li>
                        <li><b class="font-yellow">EMAIL</b> : cjd0030@gmail.com</li>
                        <li><b class="font-yellow">GITHUB</b> : <a href="https://github.com/aqntks">https://github.com/aqntks</a></li>
                    </ul>
                    <ul class="social-icons">
                        <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="ion-social-linkedin"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    </ul>
                </div><!-- col-sm-8 -->
            </div><!-- row -->
        </div><!-- intro -->
    </div><!-- container -->
</section><!-- intro-section -->

<section class="about-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-text">
                <div class="heading ">
                    <h3><b>목표</b></h3>
                </div>
            </div><!-- col-sm-3 -->
            <div class="col-sm-12 col-md-6">
                <p class="margin-b-30">
                 </p>
            </div><!-- col-sm-6 -->
            <div class="col-sm-12 col-md-6">
                <p class="margin-b-50"></p>
            </div><!-- col-sm-6 -->

            <div class="col-sm-12" id="counter">
                <div class="row" >

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="counter margin-b-50">
                            <h1 class="title"><b><span class="counter-value" data-duration="400" data-count="1">0</span></b></h1>
                            <h5 class="desc"><b>BackEnd</br> 개발자</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="counter margin-b-50">
                            <h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="5">0</span></b></h1>
                            <h5 class="desc"><b>FullStack</br> 개발자</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="counter margin-b-50">
                            <h1 class="title"><b><span class="counter-value" data-duration="700" data-count="10">0</span></b></h1>
                            <h5 class="desc"><b>책임지고</br> 시스템을 관리할</br> 전문가</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="counter margin-b-50">
                            <h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="20">0</span></b></h1>
                            <h5 class="desc"><b>축적된 노하우와 실력을 전할</br>교육자</b></h5>
                        </div><!-- counter -->
                    </div><!-- col-md-3-->

                </div><!-- row-->
            </div><!-- col-sm-12 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- about-section -->

<section class="education-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-text">
                <div class="heading">
                    <h3><b>프로젝트</b></h3>
                    <h6 class="font-lite-black"><b>이력</b></h6>
                </div>
            </div><!-- col-sm-3 -->

            <div class="col-sm-12">

                <div class="education-wrapper margin-b-50">
                    <div class="education right">
                        <h4><b>첫 프로젝트</b></h4>
                        <h5 class="font-yellow"><b>마이펫 다이어리</b></h5>
                        <h6 class="font-lite-black margin-t-10"><a href="https://github.com/aqntks/DogCat"><span style="color:#CC9900;">GitHub</span> : https://github.com/aqntks/DogCat</a></h6>
                        <h6 class="font-lite-black margin-t-10"><a href="https://youtu.be/lXgCjepwEA4"><span style="color:#CC9900;">시연 영상</span> : https://youtu.be/lXgCjepwEA4</a></h6>
                        <p class="margin-t-30">개발자의 꿈을 꾸기 시작한 후 처음 진행한 프로젝트입니다.
                            사랑스러운 애완동물의 모든 순간을 기록하고 싶은 주인들을 위한 다이어리입니다.
                            함께하는 모든 순간과 추억을 기록할 수 있습니다. 예방접종 일과 목욕, 양치, 미용 날짜 등
                            기억해야 하는 일정을 표시해둘 수 있습니다. 본인의 애완동물 건강 상태를 주기적으로 기록할 수 있습니다.
                            또한 애완동물을 키울 때 꼭 알아야 하는 중요한 상식들을 포함하고 있어 더 좋은 주인이 되도록 도와줍니다.
                            기록된 다양한 애완동물과 종의 특성 및 성격을 참고하여 새로 애완동물을 맞이하려는 주인들에게 도움을 줍니다.
                        <h6 style="color:#CC9900;">Java Swing을 이용하여 구현하였습니다.</h6>
                        </p>
                    </div><!-- education -->

                    <div class="education left">
                        <h4><b>Spring & JQueryMobile 프로젝트</b></h4>
                        <h5 class="font-yellow"><b>Mobile Order System</b></h5>
                        <h6 class="font-lite-black margin-t-10"><a href="https://github.com/aqntks/Mobile-Order-System-Purchaser-Version"><span style="color:#CC9900;">GitHub</span> : https://github.com/aqntks/Mobile-Order-System-Purchaser-Version</a></h6>
                        <h6 class="font-lite-black margin-t-10"><a href="https://youtu.be/s1fDuLWBuMY"><span style="color:#CC9900;">시연 영상</span> : https://youtu.be/s1fDuLWBuMY</a></h6>
                        <p class="margin-t-30">첫 팀 프로젝트입니다.
                            Mobile Order System는 카페나 학생식당에서 원하는 메뉴를 편리하게 주문하기 위한 시스템입니다.
                            커피를 주문하기 위해 줄 서서 기다리지 않고 테이블에 앉아서 부담 없이 메뉴를 선택하고 주문할 수 있습니다.
                            또한 추가 주문을 위해 카운터까지 이동하지 않아도 됩니다.
                            <h6 style="color:#CC9900;">Java & Spring & JSP으로 구현하였습니다. MYSQL로 데이터베이스를 관리하였으며
                            MyBatis를 사용하여 데이터를 연결하였습니다. Mobile 환경에 맞추기 위해
                            JQueryMobile을 사용하였으며 Ajax를 이용하였습니다.
                            장바구니 구현을 위해 SQLite를 사용했습니다.
                            팀원과 협업을 위해 Github의 Milestones로 릴리즈 구분과 일정을 설정했으며
                        Issue로 소통하며 Label을 이용하여 분류하였습니다.</h6>
                        </p>
                    </div><!-- education -->

                    <div class="education right">
                        <h4><b>Spring 개인 프로젝트</b></h4>
                        <h5 class="font-yellow"><b>CoupleBoard</b></h5>
                        <h6 class="font-lite-black margin-t-10"><a href="https://github.com/aqntks/coupleboard"><span style="color:#CC9900;">GitHub</span> : https://github.com/aqntks/coupleboard</a></h6>
                        <p class="margin-t-30">CoupleBoard는 여자친구와의 커플 페이지를 관리하기 위해 제작한 사이트입니다.
                            여자친구와의 일정을 저장하고 추억을 기록하기 위한 페이지입니다.
                            프로필을 등록하고 커플 상세정보를 등록할 수 있습니다.
                            데이트 일정이나 기념일 일정을 저장할 수 있으며 중요 일정들을 알림으로 알아볼 수 있습니다.
                            여자친구와의 추억을 저장하고 사진을 등록할 수 있습니다.
                            <h6 style="color:#CC9900;">Java & Spring 프로젝트로 진행했습니다. View 템플릿은 Mustache를 사용했으며
                        DB 적용 사항을 확인하기 위해 h2database를 사용했습니다. DB 연결 기술로는 JPA를 사용했습니다.
                        AWS의 EC2 Linux 서버를 이용하여 배포하였으며 AWS RDB 데이터베이스를 MariaDB로 이용했으며
                        AWS ROUTE53으로 도메인을 호스팅 했습니다. 사진 저장을 위해 AWS S3을 활용했습니다.
                    </h6>
                        </p>
                        <div class="p-item web-design">
                            <a href="images/project3.jpg" data-fluidbox>
                                <img src="images/project3.jpg" alt=""></a>
                        </div><!-- p-item -->
                    </div><!-- education -->

                    <div class="education left">
                        <h4><b>비대면 시스템 프로젝트</b></h4>
                        <h5 class="font-yellow"><b>MOS</b></h5>
                        <h6 class="font-lite-black margin-t-10"><a href="https://github.com/aqntks/mos"><span style="color:#CC9900;">GitHub</span> : https://github.com/aqntks/mos</a></h6>
                        <p class="margin-t-30">코로나 사태로 인한 비대면 결제 시스템을 구현중입니다.
                        일전에 진행한 Mobile Order System을 개선한 프로젝트입니다.
                            카페에 방문하게 되면 종업원을 마주하지 않고 원하는 테이블에 앉습니다.
                            테이블에 부착된 QR 코드를 통하여 모바일 환경에서 메뉴를 주문합니다.
                            종업원은 주문 내역을 확인하고 음료를 준비합니다.
                            조리가 완료되면 모바일 화면을 통하여 확인할 수 있고 주문번호를 통해
                            메뉴를 수령합니다.
                            <h6 style="color:#CC9900;">Java & Spring 프로젝트로 진행했습니다. View 템플릿은 Mustache를 사용했습니다.
                    DB 연결 기술로는 JPA를 사용했으며 AWS RDB에 MariaDB로 DB를 관리합니다.
                    AWS EC2 Linux 서버를 통하여 배포하고 있습니다. 판매자 식별을 위해
                        판매자 페이지에서는 구글 로그인과 네이버 로그인 기능을 구현하고 있습니다.</h6>
                        </p>
                        <div class="p-item web-design">
                            <a href="images/project4.jpg" data-fluidbox>
                                <img src="images/project4.jpg" alt=""></a>
                        </div><!-- p-item -->
                    </div><!-- education -->

                </div><!-- education-wrapper -->
            </div><!-- col-sm-9 -->
        </div><!-- row -->
    </div><!-- container -->

</section><!-- education-section -->


<section class="quoto-section center-text">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <i class="icon ion-quote"></i>
                <h3><b>해결 불가능한 <span class="font-yellow">문제</span>는 없다</b></h3>
                <h3><b>내 <span class="font-yellow">관심</span>과 <span class="font-yellow">노력</span>이 부족했을 뿐이다</b></h3>
            </div><!-- col-sm-12 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- quoto-section -->

<section class="skills-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-text">
                <div class="heading">
                    <h3><b>사용가능 기술</b></h3>
                    <h6 class="font-lite-black"><b>I'M GOOD AT</b></h6>
                </div>
            </div><!-- col-sm-12 -->

            <div class="col-sm-12 col-md-6">
                <h4><b>BackEnd</b></h4>
                <h6 class="expert">주니어</h6>

                <p class="margin-tb-30">Java와 Spring, JSP & Mustache, JPA, MariaDB & MySql, AWS 를
                    이용한 BackEnd 개발을 주로 하고 있습니다.</p>

                <div class="line-progress margin-b-20" data-prog-percent=".97"><div></div>
                    <p class="progress-title"><b>JAVA</b></p></div>
                <div class="line-progress margin-b-20" data-prog-percent=".90"><div></div>
                    <p class="progress-title"><b>SPRING</b></p></div>
                <div class="line-progress margin-b-20" data-prog-percent=".80"><div></div>
                    <p class="progress-title"><b>JPA</b></p></div>
                <div class="line-progress margin-b-20" data-prog-percent=".60"><div></div>
                    <p class="progress-title"><b>MYBATIS</b></p></div>
                <div class="line-progress margin-b-50" data-prog-percent=".90"><div></div>
                    <p class="progress-title"><b>AWS</b></p></div>

            </div><!-- col-md-6 -->

            <div class="col-sm-12 col-md-6">
                <h4><b>FrontEnd</b></h4>
                <h6 class="expert">주니어</h6>

                <p class="margin-tb-30">FullStack 개발자를 목표로 관련 학습 사항과 vue.js를 숙달해 나가고 있습니다.</p>

                <div class="line-progress margin-b-20" data-prog-percent=".95"><div></div>
                    <p class="progress-title"><b>HTML</b></p></div>
                <div class="line-progress margin-b-20" data-prog-percent=".80"><div></div>
                    <p class="progress-title"><b>CSS</b></p></div>
                <div class="line-progress margin-b-50" data-prog-percent=".90"><div></div>
                    <p class="progress-title"><b>JAVA SCRIPT</b></p></div>

            </div><!-- col-md-6 -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- skills-section -->

<section class="radial-progress-section section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".85">
                        <div></div>
                        <h6 class="progress-title">BackEnd</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".60">
                        <div></div>
                        <h6 class="progress-title">FrontEnd</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-30">
                    <div class="radial-progress" data-prog-percent=".30">
                        <div></div>
                        <h6 class="progress-title">Android</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="radial-prog-area margin-b-50">
                    <div class="radial-progress" data-prog-percent=".10">
                        <div></div>
                        <h6 class="progress-title">IOS</h6>
                    </div>
                </div><!-- radial-prog-area-->
            </div><!-- col-sm-6-->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- radial-progress-section -->

<footer>
    <p class="copyright">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
</footer>


<!-- SCIPTS -->

<script src="js/jquery-3.2.1.min.js"></script>

<script src="js/tether.min.js"></script>

<script src="js/bootstrap.js"></script>

<script src="js/isotope.pkgd.min.js"></script>

<script src="js/jquery.waypoints.min.js"></script>

<script src="js/progressbar.min.js"></script>

<script src="js/jquery.fluidbox.min.js"></script>

<script src="js/scripts.js"></script>

</body>
</html>